<div class="row" style="background-color: black; color: white; font-size: 15px; padding-top: 15px">
    <a href="@Url.Action("Index", "Home")">
        <div class="col-xs-3 col-xs-offset-1 logoempresa">
        </div>
    </a>
    @*</div>

<div class="row" style="background-color: black; padding-bottom: 10px; padding-top: 10px">*@
    <div class="col-xs-8">
        <div class="col-xs-1"></div>
        <a class="col-xs-2 botaoMenuPrincipal" id="botaoHome" href="@Url.Action("Index", "Home")">Home</a>
        <a class="col-xs-2 botaoMenuPrincipal" id="botaoEmpresa" href="@Url.Action("Index", "Empresa")">Empresa</a>
        <a class="col-xs-2 botaoMenuPrincipal" id="botaoServicos" href="@Url.Action("Index", "Servicos")">Serviços</a>
        <a class="col-xs-2 botaoMenuPrincipal" id="botaoFotos" href="@Url.Action("Index", "Fotos")">Fotos</a>
        <a class="col-xs-2 botaoMenuPrincipal" id="botaoContato" href="@Url.Action("Index", "Contato")">Contato</a>
       
    </div>
</div>


@{
    var currentUrl = (Request.Url != null ? Request.Url.AbsoluteUri : "");
    <script type="text/javascript"> $('#botaoHome').addClass("ativo"); </script>  
    if (currentUrl.Contains("/Empresa"))
    { 
    <script type="text/javascript"> $('#botaoHome').removeClass("ativo"); </script>  
    <script type="text/javascript"> $('#botaoEmpresa').addClass("ativo"); </script>  
    }
    if (currentUrl.Contains("/Servicos"))
    { 
    <script type="text/javascript"> $('#botaoHome').removeClass("ativo"); </script>  
    <script type="text/javascript"> $('#botaoServicos').addClass("ativo"); </script>  
    }
    if (currentUrl.Contains("/Contato"))
    { 
    <script type="text/javascript"> $('#botaoHome').removeClass("ativo"); </script>  
    <script type="text/javascript"> $('#botaoFotos').addClass("ativo"); </script>  
    }
    if (currentUrl.Contains("/Contato"))
    { 
    <script type="text/javascript"> $('#botaoHome').removeClass("ativo"); </script>  
    <script type="text/javascript"> $('#botaoContato').addClass("ativo"); </script>  
    }
}
